body {
	user-select: none;
}

pre.pr0gbarz-title {
	border-left-color: transparent;
	background: transparent;
  margin-bottom: -80px;
}	
pre.pr0gbarz-title code {
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60%;
}

.button.button-clear.glyph {
	font-size: large;
	color: rgb(153, 153, 153);  			
}
.button.button-clear.glyph:hover {
	color: red;  			
}
.button.button-clear.glyph.xlarge {
	font-size: x-large;
}
.progressbar-text {
	text-align: center;
}
.column {
	font-family: 'Saira Condensed', sans-serif;
	font-size: larger;
}
.column.left {
	text-align: right;
}
.column.right {
	text-align: left
}
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
  	visibility: hidden;
  	width: 50px;
  	background-color: transparent;
  	color: rgb(153, 153, 153);
  	text-align: center;
  	border-radius: 6px;
  	padding: 5px 0;
  	position: absolute;
  	z-index: 1;
  	bottom: 100%;
  	left: 100%;
  	margin-left: -60px;
}

.tooltip .tooltiptext.bottom {
	position: absolute;
  	z-index: 1;
  	top: 100%;
  	left: 96%;
  	margin-left: -60px;
}

.tooltip .tooltiptext.bottom.right {
    left: 99%;
}

.tooltip .tooltiptext::after {
  	content: "";
  	position: absolute;
  	top: 100%;
  	left: 50%;
  	margin-left: -5px;
  	border-width: 5px;
  	border-style: solid;
  	border-color: rgb(153, 153, 153) transparent transparent transparent;
}

.tooltip .tooltiptext.bottom::after {
	top: 0;
	bottom: 100%;
}

.tooltip:hover .tooltiptext {
  	visibility: visible;
}

.row {
	padding: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 143px;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  font-family: 'Saira Condensed', sans-serif;
}

.sidenav a {
  white-space: nowrap;
  padding: 8px  8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  color: rgb(153, 153, 153); 
}

.sidenavopen {
  font-size: 36px;
  top: 200px;
  color: rgb(153, 153, 153); 
  cursor:pointer;
  font-family: 'Saira Condensed', sans-serif;
  text-decoration: none;
}

.sidenav a:hover {
  color: red;
}

.container.projects {
  padding-top: 20px;
}

.sidenav a.selected {
  font-weight: bold;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  color: rgb(153, 153, 153); 
}

@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}

#prog-project-add {
    right: 25px;
    margin-left: 237px;
}

.sparkline {
  fill: none;
}

.sparkline--red {
  stroke: #dc2b33;
}

.sparkline--red.sparkline--filled {
  fill: rgba(220, 43, 51, 0.3);
}

.sparkline--blue {
  stroke: #3d85de;
}

.sparkline--blue.sparkline--filled {
  fill: rgba(61, 133, 222, 0.3);
}

.sparkline--green {
  stroke: #4c9b4c;
}

.sparkline--green.sparkline--filled {
  fill: rgba(76, 155, 76, 0.3);
}

.sparkline--gray {
  stroke: #777;
}

.sparkline--gray.sparkline--filled {
  fill: rgba(119, 119, 119, 0.3);
}

.sparkline--orange {
  stroke: #e36023;
}

.sparkline--orange.sparkline--filled {
  fill: rgba(227, 96, 35, 0.3);
}

.sparkline--purple {
  stroke: #573585;
}

.sparkline--purple.sparkline--filled {
  fill: rgba(87, 53, 133, 0.3);
}

.sparkline--yellow {
  stroke: #fdd700;
}

.sparkline--yellow.sparkline--filled {
  fill: rgba(253, 215, 0, 0.3);
}

.sparkline--pink {
  stroke: #db3b9e;
}
